<div class="mx-auto text-white text-center bg-black">
  <section
    class="banner h-96 relative flex items-center justify-center text-center text-white"
    data-aos="fade-in"
  >
    <div class="overlay absolute inset-0 flex items-center justify-center">
      <div class="mx-8">
        <h2 class="text-5xl font-extrabold mb-4">
          Impulsá tu Restaurante con una Página Web Profesional
        </h2>
        <p class="text-lg mb-8">
          Atrae más clientes, facilita las reservas y destaca sobre la
          competencia.
        </p>
        <a
          href="#beneficios"
          class="bg-[#B23131] py-4 px-6 rounded-lg hover:bg-[#631919] transition shadow-lg"
          >Descubre Más</a
        >
      </div>
    </div>
  </section>
  <section id="beneficios" class="my-8 px-4" data-aos="fade-up">
    <h2 class="text-4xl font-bold mb-4 text-center">
      ¿Por qué tu restaurante necesita una página web?
    </h2>
    <div class="flex justify-center w-full">
      <img
        src="../../../assets/images/restaurante-second.jpg"
        alt="restaurant demo"
        class="w-3/4 lg:w-1/2 rounded-lg shadow-lg"
      />
    </div>
    <p class="my-16 text-2xl xl:mx-48 text-[#DDDDDD]">
      En la era digital, tener una presencia en línea es esencial para cualquier
      negocio, incluyendo los restaurantes. Una página web profesional te ayuda
      a:
    </p>
    <ul class="list-none list-inside text-left md:text-center mb-4 text-3xl">
      <li class="mb-8" data-aos="fade-up">
        🌟 Aumentar la visibilidad y atraer nuevos clientes.
      </li>
      <li class="mb-8" data-aos="fade-up">
        📋 Mostrar tu menú y promociones especiales.
      </li>
      <li class="mb-8" data-aos="fade-up">
        🛒 Facilitar reservas y pedidos en línea.
      </li>
      <li class="mb-8" data-aos="fade-up">🏆 Destacar sobre la competencia.</li>
    </ul>
  </section>
  <section id="beneficios-especificos" class="my-8 px-4" data-aos="fade-up">
    <h2 class="text-6xl font-bold mt-32 mb-4 text-[#FFD700]">
      Beneficios para tu restaurante
    </h2>
    <p class="mb-4 text-2xl text-[#DDDDDD]">
      Con una página web, tu restaurante puede:
    </p>
    <ul class="list-none list-inside text-left md:text-center mb-4 text-3xl">
      <li class="mb-8" data-aos="fade-right">
        🏅 Construir una marca sólida y reconocida.
      </li>
      <li class="mb-8" data-aos="fade-right">
        💌 Fomentar la fidelidad del cliente mediante ofertas y programas de
        lealtad.
      </li>
      <li class="mb-8" data-aos="fade-right">
        🗣️ Proporcionar una plataforma para recibir comentarios y mejorar la
        satisfacción del cliente.
      </li>
      <li class="mb-8" data-aos="fade-right">
        🔍 Optimizar tu presencia en motores de búsqueda (SEO) y atraer tráfico
        orgánico.
      </li>
    </ul>
  </section>
  <section id="por-que-elegirme" class="my-8 px-4" data-aos="fade-up">
    <h2 class="text-6xl font-bold mt-32 mb-4 text-[#FFD700]">
      ¿Por qué elegirme para crear tu página web? 🤔
    </h2>
    <p class="mb-4 text-2xl text-[#DDDDDD]">
      Soy un profesional con experiencia en diseño y desarrollo web,
      especializado en crear páginas web atractivas y funcionales para
      restaurantes. Ofrezco:
    </p>
    <ul class="list-none list-inside text-left md:text-center mb-4 text-3xl">
      <li class="mb-8" data-aos="zoom-in-up">
        📱 Diseños personalizados y adaptables a todos los dispositivos.
      </li>
      <li class="mb-8" data-aos="zoom-in-up">
        🔗 Integración de funcionalidades específicas como reservas y pedidos en
        línea.
      </li>
      <li class="mb-8" data-aos="zoom-in-up">
        🚀 Optimización para motores de búsqueda (SEO).
      </li>
      <li class="mb-8" data-aos="zoom-in-up">
        🔧 Soporte continuo y actualizaciones.
      </li>
    </ul>
  </section>
  <section id="cta" class="my-16 text-center" data-aos="fade-up">
    <a
      href="#beneficios"
      class="bg-[#B23131] py-4 px-6 rounded-lg hover:bg-[#631919] transition shadow-lg"
      >Sobre Meichtech</a
    >
  </section>
  <section class="my-16" data-aos="fade-up">
    <h2 class="text-4xl text-center text-[#FFD700]">¡Trabajemos juntos!</h2>
    <div class="flex justify-center">
      <img src="../../../assets/images/flecha.png" alt="flecha" class="w-32" />
    </div>
  </section>
</div>
